#set($attribs = $util.dynamodb.toMapValues($ctx.args.input))
#set($attribs.ownerUsername = $util.dynamodb.toDynamoDB($ctx.identity.sub))
#set($attribs.ownerName = $util.dynamodb.toDynamoDB($ctx.identity.claims.name))
#set($attribs.createdAt = $util.dynamodb.toDynamoDB($util.time.nowISO8601()))
#set($attribs.updatedAt = $util.dynamodb.toDynamoDB($util.time.nowISO8601()))

{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
  },
  "attributeValues": $util.toJson($attribs),
  "condition": {
    "expression": "attribute_not_exists(#id)",
    "expressionNames": {
      "#id": "id",
    },
  },
}